body {
   
    border: 8px dotted whitesmoke;
    padding: 50px;
    background-size: 1600px 900px;
    background-color: black;
   
    
}


.flex-img-container {
    display: flex;
    justify-content: space-evenly;
    
               
}

.foto1 , .foto2 , .foto3,.foto4, .foto5 {
    position: relative;
    width: 20%;
    height: 10%;
    padding: 10px;

}

.foto6 {
    position: absolute;
    bottom: 30%;
    width: 20%;
    height: 10%;
}

.foto7 {
    position: absolute;
    right: 10%;
    top: 70%;
    width: 50%;
    height: 80%;
}


img {
    opacity: 0.5;
    
}
  
img:hover {
    opacity: 1.0;
}


 input {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color:red;
    width: 30%;
 }


label {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color: white;
    
    width: 50px;
        
}




div.sticky {
    position: -webkit-sticky;
    position: fixed;
    top: 15px;   
    padding: 5px;
    background-color: lightgray;
    border: 2px solid black;
    opacity: 0.7;
    text-align: center;

}

p {
    color: white;
    text-align: center;
}

button {
    border-radius: 30%;
   
    width: 10%;
}
